.signupPromo {
  display: flex;
  flex-direction: column;
  height: calc(var(--grid-basis) * 12.5);
  width: calc(var(--grid-basis) * 12.5);
  border: 3px solid black;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  justify-content: center;
  transition: background 100ms;
}

.signupPromo:hover {
  background: #ff1ad9;
}

.signupPromo__title {
  color: black;
  font-size: 22px;
  font-weight: 900;
  padding: 6px;
}

.signupPromo__info {
  padding: 6px;
  color: black;
}
