.signupPromo {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  height: 140px;
  width: 150px;
  background: #ffe900;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  justify-content: center;
}

.signupPromo::before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 35px 140px 0;
  border-color: transparent #ffe900 transparent;
  position: absolute;
  right: 100%;
}

.signupPromo::after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 150px 35px 0;
  border-color: transparent #ffe900 transparent;
  position: absolute;
  top: 100%;
  left: 0%;
}

.signupPromo__title {
  color: #0a84ff;
  font-size: 22px;
  font-style: italic;
  font-weight: 600;
  padding: 6px;
}

.signupPromo__info {
  color: var(--lightTextColor);
  padding: 6px;
}

.signupPromo__link {
  z-index: 5;
}

.signupPromo__link:hover {
  text-decoration: underline;
}

@media (max-device-width: 750px), (max-width: 750px) {
  .signupPromo {
    flex-direction: row;
    align-items: center;
    height: 40px;
    width: 100%;
  }

  .signupPromo::before {
    visibility: hidden;
  }

  .signupPromo::after {
    border-width: 15px 50vw 0 50vw;
    border-color: #ffe900 transparent transparent;
  }
}

@media (max-device-width: 500px), (max-width: 500px) {
  .signupPromo__link {
    display: none;
  }

  .signupPromo {
    overflow: hidden;
  }
}
