.sharePage__copyText {
  margin: 8px 0 8px;
  word-wrap: break-word;
  font-size: 15px;
  color: var(--lightTextColor);
  text-align: center;
}

.sharePage__passwordReminder {
  font-size: 11px;
  font-style: italic;
}

.passwordReminder--hidden {
  display: none;
}

.sharePage__deletePopup {
  position: relative;
  margin-top: -70px;
  pointer-events: none;
}

.shareTitle {
  color: var(--textColor);
  margin: 8px auto 15px;
  text-align: center;
  font-family: 'SF Pro Text', sans-serif;
  font-size: 12px;
  font-style: italic;
  width: 280px;
}

.copySection {
  width: 100%;
}

.copySection__url {
  box-sizing: border-box;
  height: 30px;
  border: 1px solid var(--lightBorderColor);
  border-radius: 4px;
  font-size: 15px;
  color: var(--primaryControlBGColor);
  margin: 0 0 6px;
  padding: 6px;
  font-family: 'SF Pro Text', sans-serif;
  letter-spacing: 0;
  line-height: 18px;
  font-weight: 500;
}

.copySection__url:disabled {
  background: var(--successControlFGColor);
}

.input--copied {
  border-color: var(--successControlBGColor);
}

.copyBtn {
  transition: background 0.5s;
}

.copyBtn--copied,
.copyBtn--copied:hover {
  background: var(--successControlBGColor);
  color: var(--successControlFGColor);
  transition: background 0s;
}

.btn--delete {
  border: none;
  align-self: center;
  width: 176px;
  background: #fff;
  margin: 10px 0 0;
  font-size: 14px;
  line-height: 16px;
  color: var(--errorColor);
  cursor: pointer;
}

.btn--delete:hover {
  text-decoration: underline;
}
