node_modules
# .git TODO: exclude .git as soon as git-rev-sync is not needed for build
.tox
.DS_Store
firefox
docs
scripts
# test TODO: exclude test folder as soon as webpack production build is fixed
coverage
.nyc_output
