root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true

[*.{js,html,yml,json,handlebars}]
indent_style = space
indent_size = 2

[*.toml]
indent_style = space
indent_size = 4
