node_modules
coverage
dist
.idea
.DS_Store
.nyc_output
.tox
.pytest_cache
android/app/src/main/assets/vendor.js
android/app/src/main/assets/android.js
ios/send-ios/assets/ios.js
ios/send-ios/assets/vendor.js
ios/send-ios.xcodeproj/project.xcworkspace/xcuserdata/*
ios/send-ios.xcodeproj/xcuserdata/*
test/integration/downloads
