<!DOCTYPE html>
<html>
<head>
  <title>Firefox Send</title>
  <script src="/jsconfig.js"></script>
  <link rel="stylesheet" type="text/css" href="/main.css" />
  <link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css">

  <meta name="defaultLanguage" content="en-US">
  <meta name="availableLanguages" content="en-US">
  <link rel="localization" href="/locales/send.{locale}.ftl">
  <script defer src="/l20n.min.js"></script>
</head>
<body>
  <div class="send-logo">
    <img src="/resources/send_logo.svg"/>
    <img src="/resources/send_logo_type.svg"/>
  </div>
  <div class="all">
    {{{body}}}
  </div>
  <div class="footer">
    <div class="legal-links">
      <a href="https://www.mozilla.org"><img class="mozilla-logo" src="/resources/mozilla-logo.svg"/></a>
      <a href="https://www.mozilla.org/about/legal" data-l10n-id="footerLinkLegal"></a>
      <a href="https://testpilot.firefox.com/about" data-l10n-id="footerLinkAbout"></a>
      <a href="https://testpilot.firefox.com/privacy" data-l10n-id="footerLinkPrivacy"></a>
      <a href="https://testpilot.firefox.com/terms" data-l10n-id="footerLinkTerms"></a>
      <a href="https://www.mozilla.org/en-US/privacy/websites/#cookies" data-l10n-id="footerLinkCookies"></a>
    </div>
    <div class="social-links">
      <a href="https://github.com/mozilla/send" target="_blank"><img class="github" src="/resources/github-icon.svg"/></a>
      <a href="https://twitter.com/FxTestPilot" target="_blank"><img class="twitter" src="/resources/twitter-icon.svg"/></a>
    </div>
  </div>
</body>
</html>
