.passwordSection {
  text-align: left;
  padding: 40px 0;
  width: 80%;
}

.passwordForm {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  padding: 10px 0;
}

@media (max-device-width: 520px), (max-width: 520px) {
  .passwordSection {
    width: 100%;
  }

  .passwordForm {
    flex-direction: column;
  }
}
