.passwordSection {
  text-align: left;
  padding: 40px;
}

.passwordForm {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  padding: 10px 0;
}

.input--password {
  flex: 1;
}

.inputBtn--password {
  flex: 0 1 165px;
}

.red {
  color: red;
}

@media (max-device-width: 520px), (max-width: 520px) {
  .passwordForm {
    flex-direction: column;
    padding-left: 0;
  }
}
