.passwordSection {
  margin: auto;
  text-align: center;
  padding: 40px 0;
  width: 80%;
}

.passwordForm {
  margin: 13px;
}

.passwordForm__input {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
}

.unlockBtn {
  margin-top: 48px;
}

.unlockBtn--error,
.unlockBtn--error:hover {
  background-color: var(--errorColor);
}

.passwordForm__error {
  font-size: 13px;
  font-weight: 600;
  visibility: hidden;
}
