.btn--download {
  margin: 0 0 13px;
}

.btn--complete,
.btn--complete:hover {
  background-color: var(--successControlBGColor);
}

.btn--blueStripes {
  background: repeating-linear-gradient(
    -65deg,
    #3282f2 0,
    #3282f2 17px,
    #3c87eb 17px,
    #3c87eb 30px
  );
  background-size: 300% 300%;
  animation: barberpole 12s linear infinite;
}
