.header {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 31px;
  width: 100%;
}

.logo {
  display: flex;
  position: relative;
  align-items: center;
}

.logo__link {
  display: flex;
  flex-direction: row;
}

.logo__title {
  color: #3e3d40;
  font-size: 32px;
  font-weight: 500;
  margin: 0;
  position: relative;
  top: -1px;
  letter-spacing: 1px;
  margin-left: 8px;
  transition: color 50ms;
}

.logo__title:hover {
  color: var(--primaryControlBGColor);
}

.logo__subtitle {
  color: #3e3d40;
  font-size: 12px;
  margin: 0 8px;
}

.logo__subtitle-link {
  font-weight: bold;
  color: #3e3d40;
  transition: color 50ms;
}

.logo__subtitle-link:hover {
  color: var(--primaryControlBGColor);
}

.feedback {
  background-color: var(--primaryControlBGColor);
  background-image: url('../assets/feedback.svg');
  background-position: 2px 4px;
  background-repeat: no-repeat;
  background-size: 18px;
  border-radius: 3px;
  border: 1px solid var(--primaryControlBGColor);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: var(--primaryControlFGColor);
  cursor: pointer;
  display: block;
  float: right;
  font-size: 12px;
  line-height: 12px;
  opacity: 0.9;
  padding: 5px;
  overflow: hidden;
  min-width: 12px;
  max-width: 12px;
  text-indent: 17px;
  transition: all 250ms ease-in-out;
  white-space: nowrap;
}

.feedback:hover,
.feedback:focus {
  min-width: 30px;
  max-width: 300px;
  text-indent: 2px;
  padding: 5px 5px 5px 20px;
  background-color: var(--primaryControlHoverColor);
}

.feedback:active {
  background-color: var(--primaryControlHoverColor);
}

@media (max-device-width: 520px), (max-width: 520px) {
  .header {
    flex-direction: column;
    justify-content: flex-start;
  }

  .feedback {
    margin-top: 10px;
    min-width: 30px;
    max-width: 300px;
    text-indent: 2px;
    padding: 5px 5px 5px 20px;
  }
}
