.header {
  flex: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 64px;
  background-color: white;
  box-shadow: 0 -1px 0 0 #d7d7db7f, 0 2px 6px 0 #0000001e;
}

.header h1 {
  margin: 0;
}

.header__controls {
  justify-self: end;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 8px;
  align-items: center;
}

.feedback {
  background-color: #979797;
  background-image: url('../assets/feedback.svg');
  background-position: 2px 4px;
  background-repeat: no-repeat;
  background-size: 18px;
  color: var(--primaryControlFGColor);
  cursor: pointer;
  display: block;
  font-size: 12px;
  line-height: 12px;
  padding: 5px 5px 5px 20px;
  text-indent: 2px;
  transition: all 250ms ease-in-out;
  white-space: nowrap;
}
