<div id="legal">
  <div class="title" data-l10n-id="legalHeader"></div>
  <div class="description" data-l10n-id="legalNoticeTestPilot">
    <a href="https://testpilot.firefox.com/terms"></a>
    <a href="https://testpilot.firefox.com/privacy"></a>
    <a href="https://testpilot.firefox.com/experiments/send"></a>
  </div>
  <div class="description" data-l10n-id="legalNoticeMozilla">
    <a href="https://www.mozilla.org/privacy/websites/"></a>
    <a href="https://www.mozilla.org/about/legal/terms/mozilla/"></a>
  </div>
</div>
