<!DOCTYPE html>
<html>
<head>
  <title>Download your file</title>
  <script src="/raven.min.js"></script>
  <script src="/bundle.js"></script>
  <link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css">
  <link rel="stylesheet" type="text/css" href="/main.css" />
  {{> sentry dsn=dsn}}
  {{#if shouldRenderAnalytics}}
    {{> analytics trackerId=trackerId}}
  {{/if}}
</head>
<body>

  <div class="main-window">
    <div id="download">
      {{#if filename}}
      <div class="title">
        Your friend is sending you a file: <br />
        {{{filename}}} ({{{filesize}}})
      </div>
      <div id="download-page-one">
        <div>
          <button id="download-btn" onclick="download()">Download File</button>
        </div>
      </div>

      <div id="download-progress">
        <div  id="download-text">
          Downloading File...
        </div>
        <div class="upload">
          <!-- progress bar here -->
          <div id="progress-bar"></div>
          <div id="progress-text"></div>
        </div>
      </div>

      <div class="send-new" id="send-file">
        Send your own files
      </div>

      {{else}}

      <div class="title">
        This link has expired or never existed in the first place.
      </div>

      <div class="share-window">
        <img src="/resources/link_expired.png" alt="Link expired" />
      </div>
      <!-- htmllint id-no-dup="false" -->
      <div class="send-new" id="send-file">
        Send your own files
      </div>
      <!-- htmllint tag-bans="$previous" -->
      {{/if}}
    </div>
  </div>

  <!-- <ul id="downloaded_files">
</ul> -->

</body>
</html>
