<!DOCTYPE html>
<html>
<head>
  <title>Download your file</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/bundle.js"></script>
  <link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css">
  <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>

  <div class="main-window">
    <div id="download">
      {{#if filename}}
      <div class="title">
        Your friend is sending you a file:
      </div>
      
      <span> {{{filename}}} ({{{filesize}}})

      <div class="share-window">
        <button id="download-btn" onclick="download()">Download File</button>
        <img id="expired-img" src="/resources/link_expired.png"/>
      </div>
      <div class="send-new" id="send-file">
        Send your own files
      </div>
      {{else}}
      <div class="title">
        This link has expired or never existed in the first place.
      </div>

      <div class="share-window">
        <img src="/resources/link_expired.png"/>
      </div>
      <div class="send-new" id="send-file">
        Send your own files
      </div>
      {{/if}}
    </div>
  </div>

  <!-- <ul id="downloaded_files">
  </ul> -->

</body>
</html>
