<!DOCTYPE html>
<html>
<head>
  <title>Firefox Fileshare</title>
  <script src="/raven.min.js"></script>
  <script src="/bundle.js"></script>
  <link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css" />
  <link rel="stylesheet" type="text/css" href="/main.css" />
  {{> sentry dsn=dsn}}
  {{#if shouldRenderAnalytics}}
    {{> analytics trackerId=trackerId}}
  {{/if}}
</head>
<body>

  <div class="main-window">
    <div id="page-one">
      <div class="title">
        Share your files quickly, privately and securely.
      </div>
      <div class="upload-window" ondrop="onUpload(event)" ondragover="allowDrop(event)">
        <div id="upload-img"><img src="/resources/upload.svg" alt="Upload"/></div>
        <div>
          DRAG &amp; DROP
        </div>
        <div class="upload">
          <div id="browse-text">
            your file/folder here or
          </div>
          <div id="browse">
            <form method="post" action="upload" enctype="multipart/form-data">
              <label for="file-upload" class="file-upload">browse</label>
              <input id="file-upload" type="file" onchange="onUpload(event)" name="fileUploaded" />
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="file-list">
      <table id="uploaded-files">
        <tr>
          <th width="30%">File</th>
          <th width="45%">Copy URL</th>
          <th width="18%">Expires in</th>
          <th width="7%">Delete</th>
        </tr>
      </table>
    </div>

    <div id="upload-progress">
      <div class="title" id="upload-filename">
        Uploading
      </div>
      <div class="upload-window">
        <div id="upload-img"><img src="/resources/upload.svg" alt="Upload" /></div>
        <div class="upload">
          <!-- progress bar here -->
          <div id="progress-bar"></div>
          <div id="progress-text"></div>
        </div>
      </div>
    </div>

    <div id="share-link">
      <div class="title">
        Copy the link below to share your file!
      </div>
      <div class="share-window">
        <img src="/resources/share.png" alt="Share" />
        <div id="share-window-r">
          <div id="copy">
            <input id="link" type="url" value="" readonly/>
            <button id="copy-btn">Copy</button>
          </div>
          <div>
            This link expires after one download
          </div>
        </div>
      </div>
      <div class="send-new">
        Send another file
      </div>
    </div>
  </div>

</body>
</html>
