<div id="unsupported-browser">
  <div class="title" data-l10n-id="notSupportedHeader">Your browser is not supported.</div>
  {{#if outdated}}
    <div class="description" data-l10n-id="notSupportedOutdatedDetail">Unfortunately this version of Firefox does not support the web technology that powers Firefox Send. You’ll need to update your browser.</div>
    <a id="update-firefox" href="https://support.mozilla.org/kb/update-firefox-latest-version">
      <img src="/resources/firefox_logo-only.svg" class="firefox-logo" alt="Firefox"/>
      <div class="unsupported-button-text" data-l10n-id="updateFirefox">Update Firefox</div>
    </a>
  {{else}}
    <div class="description" data-l10n-id="notSupportedDetail">Unfortunately this browser does not support the web technology that powers Firefox Send. You’ll need to try another browser. We recommend Firefox!</div>
    <div class="description"><a href="https://github.com/mozilla/send/blob/master/docs/faq.md#why-is-my-browser-not-supported" data-l10n-id="notSupportedLink" target="_blank" rel="noopener noreferrer">Why is my browser not supported?</a></div>
    <a id="dl-firefox" href="https://www.mozilla.org/firefox/new/?scene=2" target="_blank">
      <img src="/resources/firefox_logo-only.svg" class="firefox-logo" alt="Firefox"/>
      <div class="unsupported-button-text">Firefox<br>
        <span data-l10n-id="downloadFirefoxButtonSub">Free Download</span>
      </div>
    </a>
  {{/if}}
  <div class="unsupported-description" data-l10n-id="uploadPageExplainer">Send files through a safe, private, and encrypted link that automatically expires to ensure your stuff does not remain online forever.</div>
</div>
