<div id="unsupported-browser">
  <div class="title" data-l10n-id="notSupportedHeader"></div>
  <div class="description" data-l10n-id="notSupportedDetail"></div>
  <a id="dl-firefox" href="https://www.mozilla.org/firefox/new/?scene=2" target="_blank">
    <img src="/resources/firefox_logo-only.svg" id="firefox-logo" alt="Firefox"/>
    <div id="dl-firefox-text">Firefox<br>
      <span data-l10n-id="downloadFirefoxButtonSub"></span>
    </div>
  </a>
  <div class="unsupported-description" data-l10n-id="uploadPageExplainer"></div>
</div>
