.unsupportedPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.unsupportedPage__info {
  font-size: 13px;
  line-height: 23px;
  text-align: center;
  color: var(--lightTextColor);
  margin: 0 auto 23px;
}

.firefoxDownload {
  margin-bottom: 181px;
  height: 80px;
  background: #98e02b;
  border-radius: 3px;
  cursor: pointer;
  border: 0;
  box-shadow: 0 5px 3px rgb(234, 234, 234);
  font-family: 'Fira Sans', 'segoe ui', sans-serif;
  font-weight: 500;
  color: var(--primaryControlFGColor);
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  padding: 0 25px;
}

.firefoxDownload__logo {
  width: 70px;
}

.firefoxDownload__action {
  text-align: left;
  margin-left: 20.4px;
}

.firefoxDownload__text {
  font-family: 'Fira Sans', 'segoe ui', sans-serif;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: -0.69px;
}
