.unsupportedPage {
  justify-content: center;
  align-items: center;
}

.unsupportedPage__error {
  margin: 10px 0 20px;
}

.unsupportedPage__info {
  font-size: 13px;
  color: var(--lightTextColor);
  margin: 0 auto 10px;
}

.firefoxDownload {
  flex: 2;
}

.firefoxDownload__button {
  margin: 0 auto 20px;
  height: 70px;
  width: 250px;
  background: #12bc00;
  border-radius: 3px;
  cursor: pointer;
  border: 0;
  font-family: 'Fira Sans', 'segoe ui', sans-serif;
  font-weight: 500;
  color: var(--primaryControlFGColor);
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  padding: 8px;
}

.firefoxDownload__logo {
  width: 55px;
}

.firefoxDownload__action {
  text-align: left;
  text-transform: uppercase;
  margin-left: 20px;
}

.firefoxDownload__text {
  text-transform: none;
  font-family: 'Fira Sans', 'segoe ui', sans-serif;
  font-weight: 300;
  font-size: 17px;
}
