option {
  padding: 0;
}

.selectBox {
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: none;
  border-radius: 0;
  background-color: #e6e6e6;
  font-size: 1em;
  font-weight: 200;
  margin: 0;
  padding: 4px 2px 4px 2px;
  cursor: pointer;
}

select:active {
  background-color: var(--pageBGColor);
  border: 0;
}
