.select {
  background-color: var(--pageBGColor);
  overflow: hidden;
}

select {
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0;
  background: #fff;
  background-image: none;
  font-size: 1em;
  margin: 0;
  color: #0094fb;
  cursor: pointer;
  border-color: none;
}

select:active {
  background-color: var(--pageBGColor);
  border: 0;
}

#arrow {
  position: relative;
}
