.background {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.background_1 {
  background-image: url('../assets/background_1.jpg');
}

.background_2 {
  background-image: url('../assets/background_2.jpg');
}
