/***     index.html     ***/
html {
  background: url('resources/background.png');
  font-family: 'Fira Sans';
  font-weight: 300;
  font-style: normal;
  background-size: contain;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

input, select, textarea, button {
  font-family: inherit;
}

/**   page-one    **/
.main-window {
  border: 1px solid;
  width: 606px;
  min-height: 447px;
  background-color: white;
  border-radius: 5px;
}

.title {
  font-size: 14px;
  width: 80%;
  margin: 40px auto;
  text-align: center;
}

.upload-window {
  border: 1px dashed;
  margin: 0 auto;
  width: 470px;
  height: 250px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#browse {
  float: right;
  color: #2D7EFF;
}

#browse-text {
  float: left;
  width: 128px;
}

#upload-img {
  padding-right: 20px;
}

.upload-window > div:nth-child(2) {
  font-size: 26px;
}

.upload {
  font-size: 12px;
  width: auto;
  overflow: hidden;
}

.file-upload {
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

form {
  width: 45px;
  float: right;
}

/**   file-list   **/
th {
  font-size: 10px;
  color: #737373;
  font-weight: normal;
  text-align: left;
}

td {
  font-size: 12px;
  vertical-align: top;
}

#uploaded-files {
  width: 472px;
  margin: 10px auto;
  table-layout: fixed;
}

.delete-btn {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #FFF;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  transition: opacity 0.5s;
  opacity: 0;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent;
}

.popup .show {
  visibility: visible;
  opacity: 1;
}

/**   upload-progress   **/
#progress-bar {
  width: 300px;
  height: 5px;
  background: linear-gradient(90deg, #FD9800, #D73000 var(--progress), white var(--progress));
  border: 0.5px solid;
  border-radius: 5px;
}

/**   share-link    **/
.share-window {
  margin: 0 auto;
  width: 470px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#share-window-r {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#share-window-r > div {
  font-size: 12px;
  padding-bottom: 10px;
}

#copy {
  display: flex;
  flex-wrap: nowrap;
}

#link {
  width: 216px;
  height: 41px;
  border: 1px solid #979797;
}

#copy-btn {
  width: 60px;
  height: 45px;
  background: #337FEB;
  border: 1px solid #979797;
  color: white;
  cursor: pointer;
}

#copy-btn:disabled {
  background: #47B04B;
  cursor: auto;
}

.send-new {
  font-size: 14px;
  margin: auto;
  width: 80%;
  text-align: center;
  color: #2D7EFF;
  cursor: pointer;
}

/**   download.html **/
#download-btn {
  font-size: 18px;
  color: white;
  width: 214px;
  height: 87px;
  margin: 50px auto;
  text-align: center;
  background: #337FEB;
  border: 1px solid #3EA050;
  border-radius: 6px;
  font-weight: 300;
  cursor: pointer;
}

#download-btn:disabled {
  background: #47B04B;
  cursor: auto;
}

#download-page-one {
  margin: 0 auto;
  width: 470px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#expired-img {
  display: none;
}

#download-progress {
  margin: 0 auto;
  width: 470px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#download-text {
  margin-bottom: 40px;
}
