/***     index.html     ***/
html {
  background: url('resources/send_bg.svg');
  font-family: 'SF Pro Text', sans-serif;
  font-weight: 200;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
  margin: 0;
}

.send-logo {
  position: relative;
  top: 31px;
  left: 31px;
  display: inline-block;
}

.all {
  padding-top: 10%;
  padding-bottom: 51px;
}

input, select, textarea, button {
  font-family: inherit;
}

a {
  text-decoration: none;
}

/**   page-one    **/
.title {
  font-size: 33px;
  margin: 20px auto;
  text-align: center;
  font-family: 'SF Pro Display', sans-serif;
}

.description {
  font-size: 15px;
  line-height: 23px;
  width: 630px;
  text-align: center;
  margin: 0 auto 60px;
  color: #0C0C0D;
}

.upload-window {
  border: 1px dashed rgba(0, 148, 251, 0.5);
  margin: 0 auto;
  width: 640px;
  height: 255px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.upload-window.ondrag {
  border: 3px dashed rgba(0, 148, 251, 0.5);
  margin: 0 auto;
  width: 636px;
  height: 251px;
  transform: scale(1.05);
  border-radius: 4.2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.link {
  color: #0094FB;
  text-decoration: none;
}

#upload-text {
  font-size: 22px;
  color: #737373;
  margin: 20px 0 30px;
  font-family: 'SF Pro Display', sans-serif;
}

#browse {
  background: #0297F8;
  border-radius: 5px;
  font-size: 15px;
  color: #FFF;
  width: 240px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

/**   file-list   **/
th {
  font-size: 16px;
  color: #858585;
  font-weight: lighter;
  text-align: left;
  background: rgba(0, 148, 251, 0.05);
  height: 40px;
  border-top: 1px solid rgba(0, 148, 251, 0.1);
  padding: 0 19px;
}

td {
  font-size: 15px;
  vertical-align: top;
  color: #4A4A4A;
  padding: 17px 19px 0;
  line-height: 23px;
}

table {
  border-collapse: collapse;
  font-family: 'Segoe UI', 'SF Pro Text', sans-serif;
}

tbody {
  word-wrap: break-word;
}

#uploaded-files {
  width: 640px;
  margin: 45.3px auto;
  table-layout: fixed;
}

.icon-delete, .icon-copy, .icon-check {
  cursor: pointer;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #FFF;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 20px;
  left: 50%;
  margin-left: -88px;
  transition: opacity 0.5s;
  opacity: 0;
  outline: 0;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent;
}

.popup .show {
  visibility: visible;
  opacity: 1;
}

/**   upload-progress   **/
.progress-bar {
  margin-top: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.percentage {
  position: absolute;
  letter-spacing: -0.78px;
  font-family: 'Segoe UI', 'SF Pro Text', sans-serif;
}

.percent-number {
  font-size: 43.2px;
  line-height: 58px;
}

.percent-sign {
  font-size: 28.8px;
  color: rgb(104, 104, 104);
}

.upload {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 15px;
}

.progress-text {
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: -0.4px;
  margin-top: 24px;
  margin-bottom: 74px;
}

#cancel-upload {
  color: #D70022;
  cursor: pointer;
  text-decoration: underline;
}

/**   share-link    **/
#share-window {
  width: 645px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#share-window-r > div {
  font-size: 12px;
  padding-bottom: 10px;
}

#copy {
  display: flex;
  flex-wrap: nowrap;
}

#copy-text {
  align-self: flex-start;
  margin-top: 60px;
  margin-bottom: 10px;
  color: #0C0C0D;
}

#link {
  width: 480px;
  height: 56px;
  border: 1px solid #0297F8;
  border-radius: 6px 0 0 6px;
  font-size: 24px;
  color: #737373;
  font-family: 'SF Pro Display', sans-serif;
  letter-spacing: 0;
  line-height: 23px;
}

#link:disabled {
  border: 1px solid #05A700;
  background: #FFF;
}

#copy-btn {
  width: 165px;
  height: 60px;
  background: #0297F8;
  border: 1px solid #0297F8;
  border-radius: 0 6px 6px 0;
  color: white;
  cursor: pointer;
  font-size: 15px;
}

#copy-btn:disabled {
  background: #05A700;
  border: 1px solid #05A700;
  cursor: auto;
}

#delete-file {
  width: 176px;
  height: 44px;
  background: #FFF;
  border: 1px solid rgba(12, 12, 13, 0.3);
  border-radius: 5px;
  font-size: 15px;
  margin-top: 50px;
  margin-bottom: 12px;
  cursor: pointer;
  color: #313131;
}

.send-new {
  font-size: 15px;
  margin: auto;
  text-align: center;
  color: #0094FB;
  cursor: pointer;
  text-decoration: underline;
}

/*    upload-error    */
#upload-error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#upload-error-img {
  margin-bottom: 90px;
  margin-top: 5px;
}

/*    unsupported-browser   */
#unsupported-browser {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.unsupported-description {
  font-size: 13px;
  line-height: 23px;
  width: 630px;
  text-align: center;
  color: #7D7D7D;
  margin: 0 auto 23px;
}

#firefox-logo {
  width: 70px;
}

#dl-firefox {
  margin-bottom: 181px;
  width: 260px;
  height: 80px;
  background: #12BC00;
  border-radius: 3px;
  cursor: pointer;
  border: 0;
  box-shadow: 0 5px 3px rgb(234, 234, 234);
  font-family: 'Fira Sans';
  font-weight: 500;
  color: #FFF;
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
}

#dl-firefox-text {
  text-align: left;
  margin-left: 20.4px;
}

#dl-firefox-text > span {
  font-family: 'Fira Sans';
  font-weight: 300;
  font-size: 18px;
  letter-spacing: -0.69px;
}

/**   download.html **/
#download-btn {
  font-size: 15px;
  color: white;
  width: 180px;
  height: 44px;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  background: #0297F8;
  border: 1px solid #0297F8;
  border-radius: 5px;
  font-weight: 300;
  cursor: pointer;
}

#download-btn:disabled {
  background: #47B04B;
  cursor: auto;
}

#download {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#expired-img {
  margin: 51px 0 71px;
}

.expired-description {
  font-size: 15px;
  line-height: 23px;
  width: 630px;
  text-align: center;
  color: #7D7D7D;
  margin: 0 auto 23px;
}

#download-progress {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#download-img {
  width: 283px;
  height: 196px;
}

/*    footer    */
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 15px;
  display: flex;
  align-items: flex-end;
  padding: 10px;
}

.mozilla-logo {
  width: 112px;
  height: 32px;
  margin-bottom: -5px;
}

.legal-links > a {
  margin-right: 30px;
  color: #858585;
}

.legal-links > a:visited {
  color: #858585;
}

.social-links {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.social-links > a {
  margin-left: 30px;
}

.github, .twitter {
  width: 32px;
  height: 32px;
  margin-bottom: -5px;
}
