.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 100;
  background: rgba(0, 0, 0, 0.7);
  animation: fade-in 0.5s forwards;
}

.modal__box {
  max-width: 480px;
  max-height: 300px;
  background: var(--pageBGColor);
  border-radius: 4px;
  color: var(--textColor);
}
