.fileList {
  margin: 0;
  padding: 0;
  width: 262px;
  min-height: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  overflow: scroll;
  font-family: 'Segoe UI', 'SF Pro Text', sans-serif;
}

/* hack because justify-content:flex-end and overflow:scroll doesn't work together */
.fileList > :first-child {
  margin-top: auto;
}

@media (max-device-width: 750px), (max-width: 750px) {
  .fileList {
    flex: none;
    position: static;
    width: 406px;
    max-height: 160px;
    margin: 0;
  }
}
