.fileList {
  position: absolute;
  bottom: 0;
  list-style-type: none;
  margin: 0;
  padding: 3px;
  font-family: 'Segoe UI', 'SF Pro Text', sans-serif;
  width: 262px;
  max-height: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
}

@media (max-device-width: 750px), (max-width: 750px) {
  .fileList {
    position: static;
    width: 400px;
    max-height: 160px;
    margin: 6px 0 0 -3px;
  }
}
