:root {
  --pageBGColor: #fff;
  --lightControlBGColor: #e6e6e6;
  --primaryControlBGColor: #0a84ff;
  --primaryControlFGColor: #fff;
  --primaryControlHoverColor: #0473e2;
  --inputTextColor: #000;
  --errorColor: #d70022;
  --linkColor: #0094fb;
  --textColor: #0c0c0d;
  --lightBorderColor: rgba(12, 12, 12, 0.2);
  --lightTextColor: #737373;
  --successControlBGColor: #12bc00;
  --successControlFGColor: #fff;
  --large-box-shadow: 0 4px 16px rgba(12, 12, 13, 0.1);
  --edge-size: 96px;
  --grid-basis: 12px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-family: Futura, -apple-system, BlinkMacSystemFont, 'SF Pro Text',
    'segoe ui', 'helvetica neue', helvetica, ubuntu, roboto, noto, arial,
    sans-serif;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: minmax(500px, 1080px);
  grid-template-rows: 54px 700px 54px;
  align-content: center;
  align-items: center;
  justify-items: stretch;
  justify-content: center;
  font-family: Futura, -apple-system, BlinkMacSystemFont, 'SF Pro Text',
    'segoe ui', 'helvetica neue', helvetica, ubuntu, roboto, noto, arial,
    sans-serif;
  height: 100vh;
  background: #f9f9fa;
  margin: 0;
  padding: var(--grid-basis);
}

input,
select,
textarea,
button {
  font-family: inherit;
  margin: 0;
}

a {
  text-decoration: none;
}

.main {
  background: var(--pageBGColor);
  box-shadow: var(--large-box-shadow);
  display: grid;
  grid-template-columns: minmax(400px, 1fr) 1fr;
  width: 100%;
  height: 100%;
}

.noscript {
  text-align: center;
  border: 3px solid var(--errorColor);
  border-radius: 6px;
}

.main__file-manager,
.main__context {
  padding: calc(var(--grid-basis) * 2);
}

.main__file-manager {
  border-right: 2px solid black;
}

.main__context {
  display: flex;
  flex-direction: column;
}

.main__context-footer,
.main__signup-promo {
  display: flex;
  justify-content: flex-end;
}

.main__file-list {
  flex: 1;
}

.footer__mozLogo {
  width: 112px;
  height: 32px;
  margin-bottom: -5px;
}

.btn {
  display: flex;
  width: 100%;
  height: 70px;
  line-height: 1.2;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.56px;
  color: white;
  background: black;
  cursor: pointer;
  border: 0;
}

.btn:hover {
  background-color: var(--primaryControlHoverColor);
}

.btn--stripes {
  background: repeating-linear-gradient(
    -65deg,
    #7c7c7c 0,
    #7c7c7c 17px,
    #737373 17px,
    #737373 30px
  );
  background-size: 300% 300%;
  animation: barberpole 12s linear infinite;
}

@keyframes barberpole {
  0% {
    background-position: 100% 0%;
  }

  100% {
    background-position: 0% 0%;
  }
}

.btn--cancel {
  font-size: 13px;
  font-weight: 700;
  background: none;
  color: var(--errorColor);
  border: none;
}

.input {
  border: 1px solid var(--lightBorderColor);
  font-size: 20px;
  color: var(--inputTextColor);
  font-family: 'SF Pro Text', sans-serif;
  font-weight: 300;
  padding-left: 10px;
  padding-right: 10px;
}

.input--error {
  border-color: var(--errorColor);
}

.link {
  color: var(--linkColor);
  text-decoration: none;
}

.link:focus,
.link:active,
.link:hover {
  color: var(--primaryControlHoverColor);
}

.link--action {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}

.page {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.effect--fadeOut {
  opacity: 0;
  animation: fadeout 200ms linear;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.effect--fadeIn {
  opacity: 1;
  animation: fadein 200ms linear;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.goBackButton {
  position: absolute;
  top: 0;
  left: 0;
  margin: 18px;
}

.error {
  color: var(--errorColor);
  font-weight: 600;
}

.title {
  color: var(--lightTextColor);
  font-size: 18px;
  line-height: 40px;
  margin: 20px auto;
  max-width: 520px;
  font-family: 'SF Pro Text', sans-serif;
  font-weight: 700;
  word-wrap: break-word;
}

.description {
  font-size: 13px;
  text-align: left;
  margin: 14px auto;
  color: var(--lightTextColor);
  width: 95%;
}

.visible {
  visibility: visible !important;
}

.noDisplay {
  display: none !important;
}

.flexible {
  flex: 1;
}

@media (max-device-width: 750px), (max-width: 750px) {
  .description {
    margin: 0 auto 25px;
  }

  .main {
    flex-direction: column;
    height: 100%;
  }

  .spacer {
    flex: none;
    height: 0;
  }

  .stripedBox {
    margin-top: 72px;
    min-height: 400px;
    flex: 1;
  }

  .uploads {
    flex: none;
    padding-top: 6px;
  }

  .footer {
    margin: 15px;
  }
}

@media (max-device-width: 700px), (max-width: 700px) {
  .stripedBox {
    margin-top: 72px;
  }
}
