:root {
  --pageBGColor: #fff;
  --lightControlBGColor: #e6e6e6;
  --primaryControlBGColor: #0a84ff;
  --primaryControlFGColor: #fff;
  --primaryControlHoverColor: #0473e2;
  --inputTextColor: #000;
  --errorColor: #d70022;
  --linkColor: #0094fb;
  --textColor: #0c0c0d;
  --lightBorderColor: rgba(12, 12, 12, 0.2);
  --lightTextColor: #737373;
  --successControlBGColor: #12bc00;
  --successControlFGColor: #fff;
  --large-box-shadow: 0 4px 16px rgba(12, 12, 13, 0.1);
  --edge-size: 96px;
  --grid-basis: 12px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-family: Futura, -apple-system, BlinkMacSystemFont, 'SF Pro Text',
    'segoe ui', 'helvetica neue', helvetica, ubuntu, roboto, noto, arial,
    sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Text', 'segoe ui',
    'helvetica neue', helvetica, ubuntu, roboto, noto, arial, sans-serif;
  height: 100vh;
  margin: 0;
  background-color: #f8f9fa;
}

input,
select,
textarea,
button {
  font-family: inherit;
  margin: 0;
}

a {
  text-decoration: none;
}

.main {
  flex: 1 1 auto;
  background: var(--pageBGColor);
  box-shadow: var(--large-box-shadow);
  width: 90%;
  height: 100%;
  max-width: 960px;
  max-height: 600px;
  align-self: center;
  margin: auto 0;
}

.split {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

.split__left {
  height: 100%;
  width: 360px;
  margin: 0;
  border-right: 1px solid #d7d7db;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.split__right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  position: relative;
}

.noscript {
  text-align: center;
  border: 3px solid var(--errorColor);
  border-radius: 6px;
}

.footer__mozLogo {
  width: 112px;
  height: 32px;
  margin-bottom: -5px;
}

.btn {
  display: flex;
  width: 100%;
  line-height: 1.2;
  align-items: center;
  justify-content: center;
  padding: 16px;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.56px;
  color: white;
  background: black;
  cursor: pointer;
  border: 0;
}

.btn:hover {
  background-color: var(--primaryControlHoverColor);
}

.btn--stripes {
  background: repeating-linear-gradient(
    -65deg,
    #7c7c7c 0,
    #7c7c7c 17px,
    #737373 17px,
    #737373 30px
  );
  background-size: 300% 300%;
  animation: barberpole 12s linear infinite;
}

@keyframes barberpole {
  0% {
    background-position: 100% 0%;
  }

  100% {
    background-position: 0% 0%;
  }
}

.btn--cancel {
  font-size: 13px;
  font-weight: 700;
  background: none;
  color: var(--errorColor);
  border: none;
}

.input {
  border: 1px solid var(--lightBorderColor);
  font-size: 20px;
  color: var(--inputTextColor);
  font-family: 'SF Pro Text', sans-serif;
  font-weight: 300;
  padding-left: 10px;
  padding-right: 10px;
}

.input--error {
  border-color: var(--errorColor);
}

.link {
  color: var(--linkColor);
  text-decoration: none;
}

.link:focus,
.link:active,
.link:hover {
  color: var(--primaryControlHoverColor);
}

.link--action {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}

.page {
  height: 100%;
  width: 75%;
  margin: 0 auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.effect--fadeOut {
  opacity: 0;
  animation: fadeout 200ms linear;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.effect--fadeIn {
  opacity: 1;
  animation: fadein 200ms linear;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.error {
  color: var(--errorColor);
  font-weight: 600;
}

.title {
  color: var(--lightTextColor);
  font-size: 18px;
  line-height: 40px;
  margin: 20px auto;
  max-width: 520px;
  font-family: 'SF Pro Text', sans-serif;
  font-weight: 700;
  word-wrap: break-word;
}

.description {
  font-size: 13px;
  text-align: left;
  margin: 14px auto;
  color: var(--lightTextColor);
  width: 95%;
}

.visible {
  visibility: visible !important;
}

.invisible {
  visibility: hidden;
}

.noDisplay {
  display: none !important;
}

.flexible {
  flex: 1;
}

@media (max-device-width: 720px), (max-width: 720px) {
  body {
    height: unset;
  }

  .main {
    box-shadow: none;
    align-items: center;
    max-height: none;
    width: 100%;
  }

  .split {
    flex-direction: column-reverse;
    align-items: center;
  }

  .split__left {
    border: none;
    height: 600px;
  }

  .description {
    margin: 0 auto 25px;
  }

  .uploads {
    flex: none;
    padding-top: 6px;
  }
}
