:root {
  --pageBGColor: #fff;
  --lightControlBGColor: #e6e6e6;
  --primaryControlBGColor: #0a84ff;
  --primaryControlFGColor: #fff;
  --primaryControlHoverColor: #0473e2;
  --inputTextColor: #737373;
  --errorColor: #d70022;
  --linkColor: #0094fb;
  --textColor: #0c0c0d;
  --lightBorderColor: rgba(12, 12, 12, 0.2);
  --lightTextColor: #737373;
  --successControlBGColor: #12bc00;
  --successControlFGColor: #fff;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Text', 'segoe ui',
    'helvetica neue', helvetica, ubuntu, roboto, noto, arial, sans-serif;
  font-weight: 200;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Text', 'segoe ui',
    'helvetica neue', helvetica, ubuntu, roboto, noto, arial, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

input,
select,
textarea,
button {
  font-family: inherit;
  margin: 0;
}

a {
  text-decoration: none;
}

.main {
  display: flex;
  flex: auto;
  padding: 0 25px;
  box-sizing: border-box;
  min-height: 500px;
  max-height: 630px;
  height: 100px;
}

.stripedBox {
  flex: none;
  position: relative;
  width: 400px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 0 0 3px rgba(12, 12, 13, 0.2);
  background-image: repeating-linear-gradient(
    45deg,
    white,
    white 5px,
    #ea000e 5px,
    #ea000e 25px,
    white 25px,
    white 30px,
    #0083ff 30px,
    #0083ff 50px
  );
}

.mainContent {
  height: 100%;
  background-color: white;
  box-sizing: border-box;
  margin: 0 10px;
  padding: 10px 10px 28px;
  display: flex;
  flex-direction: column;
}

.spacer {
  flex: auto;
}

.uploads {
  flex: 0 0 262px;
  position: relative;
}

.noscript {
  text-align: center;
  border: 3px solid var(--errorColor);
  border-radius: 6px;
}

.btn {
  display: block;
  width: 100%;
  height: 70px;
  line-height: 70px;
  font-size: 21px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.56px;
  color: var(--primaryControlFGColor);
  background: var(--primaryControlBGColor);
  cursor: pointer;
  border: 0;
  border-radius: 5px;
}

.btn:hover {
  background-color: var(--primaryControlHoverColor);
}

.btn--stripes {
  background: repeating-linear-gradient(
    -65deg,
    #7c7c7c 0,
    #7c7c7c 17px,
    #737373 17px,
    #737373 30px
  );
  background-size: 300% 300%;
  animation: barberpole 12s linear infinite;
}

@keyframes barberpole {
  0% {
    background-position: 100% 0%;
  }

  100% {
    background-position: 0% 0%;
  }
}

.input {
  border: 1px solid var(--lightBorderColor);
  font-size: 20px;
  color: var(--inputTextColor);
  font-family: 'SF Pro Text', sans-serif;
  font-weight: 300;
  padding-left: 10px;
  padding-right: 10px;
}

.input--noBtn {
  border-radius: 6px;
}

.input--error {
  border-color: var(--errorColor);
}

.inputBtn.inputError {
  background-color: var(--errorColor);
}

.inputBtn.inputError:hover {
  background-color: var(--errorColor);
}

.cursor--pointer {
  cursor: pointer;
}

.link {
  color: var(--linkColor);
  text-decoration: none;
}

.link:focus,
.link:active,
.link:hover {
  color: var(--primaryControlHoverColor);
}

.link--action {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}

.page {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.progressSection {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 15px;
}

.progressSection__text {
  color: var(--lightTextColor);
  letter-spacing: -0.4px;
  margin-top: 24px;
  margin-bottom: 74px;
}

.effect--fadeOut {
  opacity: 0;
  animation: fadeout 200ms linear;
}

.goBackButton {
  position: absolute;
  top: 0;
  left: 0;
  margin: 18px;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.effect--fadeIn {
  opacity: 1;
  animation: fadein 200ms linear;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.error {
  color: var(--errorColor);
  font-weight: 600;
}

.title {
  color: var(--textColor);
  font-size: 33px;
  line-height: 40px;
  margin: 20px auto;
  text-align: center;
  max-width: 520px;
  font-family: 'SF Pro Text', sans-serif;
  word-wrap: break-word;
}

.description {
  font-size: 13px;
  text-align: left;
  margin: 14px auto;
  color: var(--lightTextColor);
  width: 95%;
}

.visible {
  visibility: visible !important;
}

.noDisplay {
  display: none;
}

.flexible {
  flex: 1;
}

@media (max-device-width: 750px), (max-width: 750px) {
  .description {
    margin: 0 auto 25px;
  }

  .main {
    flex-direction: column;
    min-height: 700px;
  }

  .spacer {
    flex: none;
    height: 0;
  }

  .stripedBox {
    max-height: 550px;
    flex: 1;
  }

  .uploads {
    flex: none;
  }

  .footer {
    margin: 15px;
  }
}
