@tailwind preflight;
@tailwind components;
@tailwind utilities;

a {
  color: inherit;
  text-decoration: none;
}

progress {
  @apply bg-grey-light;
  @apply rounded-sm;
  @apply w-full;
  @apply h-1;
}

progress::-moz-progress-bar {
  @apply bg-blue;
  @apply rounded-sm;
}

progress::-webkit-progress-bar {
  @apply bg-grey-light;
  @apply rounded-sm;
  @apply w-full;
  @apply h-1;
}

progress::-webkit-progress-value {
  @apply bg-blue;
  @apply rounded-sm;
}

.main {
  min-height: calc(100vh - 6rem);
}

.header-logo {
  background-image: url('../assets/send_logo.svg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: 2rem;
  padding-left: 2.5rem;
  text-decoration: none;
}

.feedback-link {
  background-color: #000;
  background-image: url('../assets/feedback.svg');
  background-position: 0.125rem 0.25rem;
  background-repeat: no-repeat;
  background-size: 1.125rem;
  color: #fff;
  display: block;
  font-size: 0.75rem;
  line-height: 0.75rem;
  padding: 0.375rem 0.375rem 0.375rem 1.25rem;
  text-indent: 0.125rem;
  white-space: nowrap;
}

.bg-shades {
  background-color: rgba(0, 0, 0, 0.7);
}

@screen md {
  .main {
    @apply flex-1;
    @apply self-center;
    @apply bg-white;
    @apply shadow-md;
    @apply m-auto;

    min-height: 30rem;
    max-height: 40rem;
  }
}
