body {
  background-color: #fff;
}

send-promo {
  display: none !important;
}

.main-header {
  background-color: #3c79bb;
  height: 50px;
  padding-left: 10px;
}

send-intro h1 {
  display: none;
}

send-intro p {
  content: 'Share files with password protection, end-to-end encryption and a link that automatically expires.';
}

.btn {
  background-color: #3c79bb;
}

footer {
  text-align: center;
  /* display: none !important; */
}
