.setPasswordSection {
  display: flex;
  padding: 10px 0;
  max-width: 100%;
}

.checkbox {
  height: 24px;
}

.checkbox__input {
  position: absolute;
  opacity: 0;
}

.checkbox__label {
  font-size: 13px;
  line-height: 20px;
  cursor: pointer;
  color: var(--lightTextColor);
  user-select: none;
}

.checkbox__label::before {
  content: '';
  height: 24px;
  width: 24px;
  margin-right: 10px;
  float: left;
  background-color: #e6e6e6;
}

.checkbox__label:hover::before {
  background-color: #d6d6d6;
}

.checkbox__input:checked + .checkbox__label::before {
  background-image: url('../assets/lock.svg');
  background-position: 2px 2px;
  background-repeat: no-repeat;
}

.checkbox__input:disabled + .checkbox__label {
  cursor: auto;
}

.checkbox__input:disabled + .checkbox__label::before {
  background-image: url('../assets/lock.svg');
  background-repeat: no-repeat;
  background-size: 26px 26px;
  border: none;
  cursor: auto;
}

.setPasswordSection > .passwordInput--hidden {
  display: none;
}
