.fileIcon {
  position: relative;
  float: left;
  pointer-events: none;
  margin: 8px;
  color: #fff;
  background-image: url('../assets/blue_file.svg');
  width: 22px;
  height: 32px;
  overflow: hidden;
  user-select: none;
}

.fileIcon__lock {
  margin: 7px 0 0 5px;
  visibility: hidden;
}

.fileIcon__lock--visible {
  visibility: visible;
}

.fileIcon__fileType {
  position: absolute;
  margin: 16px 0 0 2px;
  font-size: 7px;
  font-weight: 600;
  text-transform: uppercase;
  user-select: none;
}
