.changePasswordSection {
  padding: 10px 0;
  align-self: left;
  max-width: 100%;
  overflow-wrap: break-word;
}

.btn--reset {
  width: 80px;
  height: 30px;
  background: #fff;
  border-color: rgba(12, 12, 13, 0.3);
  margin-top: 5px;
  margin-left: 15px;
  margin-bottom: 12px;
  line-height: 24px;
  color: #313131;
}

.btn--reset:hover {
  background: #efeff1;
}

@media (max-device-width: 520px), (max-width: 520px) {
  .changePasswordSection {
    align-self: center;
    min-width: 95%;
  }
}
