/***     index.html     ***/
html {
  background: url('./send_bg.svg');
  font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Text', 'segoe ui',
    'helvetica neue', helvetica, ubuntu, roboto, noto, arial, sans-serif;
  font-weight: 200;
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center top;
  height: 100%;
  margin: auto;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Text', 'segoe ui',
    'helvetica neue', helvetica, ubuntu, roboto, noto, arial, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  position: relative;
}

#progress circle {
  stroke: #eee;
  stroke-width: 0.75em;
}

#progress #bar {
  transition: stroke-dashoffset 300ms linear;
  stroke: #3b9dff;
}

.header {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 31px;
  width: 100%;
}

.send-logo {
  display: flex;
  position: relative;
  align-items: center;
}

.send-logo h1 {
  transition: color 50ms;
}

.send-logo h1:hover {
  color: #0297f8;
}

.send-logo > a {
  display: flex;
  flex-direction: row;
}

.site-title {
  color: #3e3d40;
  font-size: 32px;
  font-weight: 500;
  margin: 0;
  position: relative;
  top: -1px;
  letter-spacing: 1px;
  margin-left: 8px;
}

.site-subtitle {
  color: #3e3d40;
  font-size: 12px;
  margin: 0 8px;
}

.site-subtitle a {
  font-weight: bold;
  color: #3e3d40;
  transition: color 50ms;
}

.site-subtitle a:hover {
  color: #0297f8;
}

.feedback {
  background-color: #0297f8;
  background-image: url('./feedback.svg');
  background-position: 2px 4px;
  background-repeat: no-repeat;
  background-size: 18px;
  border-radius: 3px;
  border: 1px solid #0297f8;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #fff;
  cursor: pointer;
  display: block;
  float: right;
  font-size: 12px;
  line-height: 12px;
  opacity: 0.9;
  padding: 5px;
  overflow: hidden;
  min-width: 12px;
  max-width: 12px;
  text-indent: 17px;
  transition: all 250ms ease-in-out;
  white-space: nowrap;
}

.feedback:hover,
.feedback:focus {
  min-width: 30px;
  max-width: 300px;
  text-indent: 2px;
  padding: 5px 5px 5px 20px;
  background-color: #0287e8;
}

.feedback:active {
  background-color: #0277d8;
}

.all {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  width: 96%;
}

pre,
input,
select,
textarea,
button {
  font-family: inherit;
  margin: 0;
}

pre {
  font-weight: 600;
  display: inline-block;
}

a {
  text-decoration: none;
}

.btn {
  font-weight: 500;
}

/**   page-one    **/

.fadeOut {
  opacity: 0;
  animation: fadeout 200ms linear;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fadeIn {
  opacity: 1;
  animation: fadein 200ms linear;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.title {
  font-size: 33px;
  line-height: 40px;
  margin: 20px auto;
  text-align: center;
  max-width: 520px;
  font-family: 'SF Pro Text', sans-serif;
  word-wrap: break-word;
}

.description {
  font-size: 15px;
  line-height: 23px;
  max-width: 630px;
  text-align: center;
  margin: 0 auto 60px;
  color: #0c0c0d;
  width: 92%;
}

.upload-window {
  border: 3px dashed rgba(0, 148, 251, 0.5);
  margin: 0 auto 10px;
  height: 255px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transition: transform 150ms;
  padding: 15px;
}

.upload-window.ondrag {
  border: 5px dashed rgba(0, 148, 251, 0.5);
  height: 251px;
  transform: scale(1.04);
  border-radius: 4.2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.upload-window.ondrag * {
  pointer-events: none;
}

.link {
  color: #0094fb;
  text-decoration: none;
}

.link:hover {
  color: #0287e8;
}

#upload-text {
  font-size: 22px;
  color: #737373;
  margin: 20px 0 10px;
  font-family: 'SF Pro Text', sans-serif;
}

.browse {
  background: #0297f8;
  border-radius: 5px;
  font-size: 20px;
  color: #fff;
  min-width: 240px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0 10px;
}

.browse:hover {
  background-color: #0287e8;
}

input[type='file'] {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

input[type='file'].has-focus + #browse,
input[type='file']:focus + #browse {
  background-color: #0287e8;
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

#file-size-msg {
  font-size: 12px;
  line-height: 16px;
  color: #737373;
  margin-bottom: 22px;
}

/**   file-list   **/
th {
  font-size: 16px;
  color: #858585;
  font-weight: lighter;
  text-align: left;
  background: rgba(0, 148, 251, 0.05);
  height: 40px;
  border-top: 1px solid rgba(0, 148, 251, 0.1);
  padding: 0 19px;
  white-space: nowrap;
}

td {
  font-size: 15px;
  vertical-align: top;
  color: #4a4a4a;
  padding: 17px 19px 0;
  line-height: 23px;
  position: relative;
}

table {
  border-collapse: collapse;
  font-family: 'Segoe UI', 'SF Pro Text', sans-serif;
}

tbody {
  word-wrap: break-word;
  word-break: break-all;
}

#uploaded-files {
  margin: 45.3px auto;
  table-layout: fixed;
}

#uploaded-file {
  width: 35%;
}

#copy-file-list {
  width: 25%;
}

#expiry-time-file-list {
  width: 21%;
}

#expiry-downloads-file-list {
  width: 8%;
}

#delete-file-list {
  width: 12%;
}

.overflow-col {
  text-overflow: ellipsis;
  max-width: 0;
  overflow: hidden;
  white-space: nowrap;
}

.center-col {
  text-align: center;
}

.icon-delete,
.icon-copy,
.icon-check {
  cursor: pointer;
}

.icon-copy[disabled='disabled'] {
  pointer-events: none;
  opacity: 0.3;
}

.text-copied {
  color: #0a8dff;
}

/* Popup container */
.popup {
  position: absolute;
  display: inline-block;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  min-width: 204px;
  min-height: 105px;
  background-color: #fff;
  color: #000;
  border: 1px solid #d7d7db;
  padding: 15px 24px;
  box-sizing: content-box;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  bottom: 20px;
  left: -40px;
  transition: opacity 0.5s;
  opacity: 0;
  outline: 0;
  box-shadow: 3px 3px 7px rgba(136, 136, 136, 0.3);
}

/* Popup arrow */
.popup .popuptext::after {
  content: '';
  position: absolute;
  bottom: -11px;
  left: 20px;
  background-color: #fff;
  display: block;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  border-radius: 0 0 5px;
  border-right: 1px solid #d7d7db;
  border-bottom: 1px solid #d7d7db;
}

.popup .show {
  visibility: visible;
  opacity: 1;
}

.popup-message {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px #ebebeb solid;
  color: #0c0c0d;
  font-size: 15px;
  font-weight: normal;
  padding-bottom: 15px;
  white-space: nowrap;
  width: calc(100% + 48px);
  margin-left: -24px;
}

.popup-action {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.popup-yes {
  color: #fff;
  background-color: #0297f8;
  border-radius: 5px;
  padding: 5px 25px;
  font-weight: normal;
  cursor: pointer;
  min-width: 94px;
  box-sizing: border-box;
  white-space: nowrap;
  margin-left: 12px;
}

.popup-yes:hover {
  background-color: #0287e8;
}

.popup-no {
  color: #4a4a4a;
  background-color: #fbfbfb;
  border: 1px #c1c1c1 solid;
  border-radius: 5px;
  padding: 5px 25px;
  font-weight: normal;
  min-width: 94px;
  box-sizing: border-box;
  cursor: pointer;
  white-space: nowrap;
}

.popup-no:hover {
  background-color: #efeff1;
}

/**   upload-progress   **/
.progress-bar {
  margin-top: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.percentage {
  letter-spacing: -0.78px;
  font-family: 'Segoe UI', 'SF Pro Text', sans-serif;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.percent-number {
  font-size: 43.2px;
  line-height: 58px;
}

.percent-sign {
  font-size: 28.8px;
  stroke: none;
  fill: #686868;
}

.upload {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 15px;
}

.progress-text {
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: -0.4px;
  margin-top: 24px;
  margin-bottom: 74px;
}

#cancel-upload {
  color: #d70022;
  background: #fff;
  font-size: 15px;
  border: 0;
  cursor: pointer;
  text-decoration: underline;
}

#cancel-upload:disabled {
  text-decoration: none;
  cursor: auto;
}

/**   share-link    **/
#share-window {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 640px;
}

#share-window-r > div {
  font-size: 12px;
  padding-bottom: 10px;
}

#copy {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

#copy.wait-password #link,
#copy.wait-password #copy-btn {
  opacity: 0.5;
}

#copy-text {
  align-self: flex-start;
  margin-top: 60px;
  margin-bottom: 10px;
  color: #0c0c0d;
  max-width: 614px;
  word-wrap: break-word;
}

#link {
  flex: 1;
  height: 56px;
  border: 1px solid #0297f8;
  border-radius: 6px 0 0 6px;
  font-size: 20px;
  color: #737373;
  font-family: 'SF Pro Text', sans-serif;
  letter-spacing: 0;
  line-height: 23px;
  font-weight: 300;
  padding-left: 10px;
  padding-right: 10px;
}

#link:disabled {
  border: 1px solid #05a700;
  background: #fff;
}

#copy-btn {
  flex: 0 1 165px;
  background: #0297f8;
  border-radius: 0 6px 6px 0;
  border: 1px solid #0297f8;
  color: white;
  cursor: pointer;
  font-size: 15px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
}

#copy-btn:not(:disabled):hover {
  background-color: #0287e8;
}

#copy-btn.success {
  background: #05a700;
  border: 1px solid #05a700;
}

#copy-btn:disabled {
  cursor: auto;
}

#delete-file {
  width: 176px;
  height: 44px;
  background: #fff;
  border: 1px solid rgba(12, 12, 13, 0.3);
  border-radius: 5px;
  font-size: 15px;
  margin-top: 50px;
  margin-bottom: 12px;
  cursor: pointer;
  color: #313131;
}

#delete-file:hover {
  background: #efeff1;
}

.send-new {
  font-size: 15px;
  margin: auto;
  text-align: center;
  color: #0094fb;
  cursor: pointer;
  text-decoration: underline;
}

.send-new:hover,
.send-new:focus,
.send-new:active {
  color: #0287e8;
}

.hidden {
  visibility: hidden;
}

.selectPassword {
  padding: 10px 0;
  align-self: left;
  max-width: 100%;
  overflow-wrap: break-word;
}

.setPassword {
  align-self: left;
  display: flex;
  flex-wrap: nowrap;
  width: 80%;
  padding: 10px 5px;
}

/*    upload-error    */
#upload-error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#upload-error[hidden],
#unsupported-browser[hidden] {
  display: none;
}

#upload-error-img {
  margin: 51px 0 71px;
}

/*    unsupported-browser   */
#unsupported-browser {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.unsupported-description {
  font-size: 13px;
  line-height: 23px;
  text-align: center;
  color: #7d7d7d;
  margin: 0 auto 23px;
}

.firefox-logo {
  width: 70px;
}

.firefox-logo-small {
  width: 24px;
}

#dl-firefox,
#update-firefox {
  margin-bottom: 181px;
  height: 80px;
  background: #98e02b;
  border-radius: 3px;
  cursor: pointer;
  border: 0;
  box-shadow: 0 5px 3px rgb(234, 234, 234);
  font-family: 'Fira Sans';
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  padding: 0 25px;
}

.unsupported-button-text {
  text-align: left;
  margin-left: 20.4px;
}

.unsupported-button-text > span {
  font-family: 'Fira Sans';
  font-weight: 300;
  font-size: 18px;
  letter-spacing: -0.69px;
}

/**   download.html **/
#download-btn {
  font-size: 15px;
  color: white;
  width: 180px;
  height: 44px;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  background: #0297f8;
  border: 1px solid #0297f8;
  border-radius: 5px;
  cursor: pointer;
}

#download-btn:hover {
  background-color: #0287e8;
}

#download-btn:disabled {
  background: #47b04b;
  cursor: auto;
}

#download {
  margin: 0 auto 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#expired-img {
  margin: 51px 0 71px;
}

.expired-description {
  font-size: 15px;
  line-height: 23px;
  text-align: center;
  color: #7d7d7d;
  margin: 0 auto 23px;
}

#download-progress {
  width: 590px;
}

#download-progress[hidden] {
  display: none;
}

#download-img {
  width: 283px;
  height: 196px;
}

.enterPassword {
  text-align: left;
  padding: 40px;
}

.red {
  color: red;
}

#unlock {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  padding: 10px 0;
}

.unlock-input {
  flex: 1;
  height: 46px;
  border: 1px solid #0297f8;
  border-radius: 6px 0 0 6px;
  font-size: 20px;
  color: #737373;
  font-family: 'SF Pro Text', sans-serif;
  letter-spacing: 0;
  line-height: 23px;
  font-weight: 300;
  padding-left: 10px;
  padding-right: 10px;
}

#unlock-btn {
  flex: 0 1 165px;
  background: #0297f8;
  border-radius: 0 6px 6px 0;
  border: 1px solid #0297f8;
  color: white;
  cursor: pointer;

  /* Force flat button look */
  -webkit-appearance: none;
  font-size: 15px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
}

#unlock-btn:hover {
  background-color: #0287e8;
}

.btn-hidden {
  visibility: hidden;
}

.input-no-btn {
  border-radius: 6px;
}

/*    footer    */
.footer {
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 13px;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 31px 41px;
  width: 100%;
  box-sizing: border-box;
}

.mozilla-logo {
  width: 112px;
  height: 32px;
  margin-bottom: -5px;
}

.legal-links {
  max-width: 81vw;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.legal-links > a {
  color: #858585;
  opacity: 0.9;
  white-space: nowrap;
  margin-right: 2vw;
}

.legal-links > a:hover {
  opacity: 1;
}

.legal-links > a:visited {
  color: #858585;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 94px;
}

.social-links > a {
  opacity: 0.9;
}

.social-links > a:hover {
  opacity: 1;
}

.github,
.twitter {
  width: 32px;
  height: 32px;
  margin-bottom: -5px;
}

#addPasswordWrapper {
  min-height: 24px;
}

#addPassword {
  position: absolute;
  visibility: collapse;
}

#addPasswordWrapper:hover label::before {
  border: 1px solid #0297f8;
}

#addPasswordWrapper label {
  line-height: 23px;
  cursor: pointer;
  color: #737373;
}

#addPassword:checked + label {
  color: #000;
}

#addPasswordWrapper label::before {
  content: '';
  height: 20px;
  width: 20px;
  margin-right: 10px;
  margin-left: 5px;
  float: left;
  border: 1px solid rgba(12, 12, 13, 0.3);
  border-radius: 2px;
}

#addPassword:checked + label::before {
  background-image: url('./check-16-blue.svg');
  background-position: 2px 1px;
}

.banner {
  padding: 0 15px;
  height: 48px;
  background-color: #efeff1;
  color: #4a4a4f;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.banner > div {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.banner > div > span {
  margin-left: 10px;
}

.banner-blue {
  background-color: #0098f7;
  color: #fff;
}

.banner-blue a {
  color: #fff;
  font-weight: bold;
}

.banner-blue a:hover {
  color: #eee;
  font-weight: bold;
}

.selectbox {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.selectSelected {
  cursor: pointer;
}

.selectOptions {
  display: none;
}

.selectOptions.active {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 40px 0;
  background-color: white;
  border: 1px solid rgba(12, 12, 13, 0.3);
  border-radius: 4px;
  box-shadow: 1px 2px 4px rgba(12, 12, 13, 0.3);
}

.selectOption {
  color: #737373;
  font-size: 12pt;
  list-style: none;
  user-select: none;
  white-space: nowrap;
  padding: 0 60px;
  border-bottom: 1px solid rgba(12, 12, 13, 0.3);
}

.selectOption:hover {
  background-color: #f4f4f4;
}

@media (max-device-width: 992px), (max-width: 992px) {
  .popup .popuptext {
    left: auto;
    right: -40px;
  }

  .popup .popuptext::after {
    left: auto;
    right: 36px;
  }
}

@media (max-device-width: 768px), (max-width: 768px) {
  .description {
    margin: 0 auto 25px;
  }

  #copy {
    width: 100%;
  }

  #link {
    font-size: 18px;
  }

  .footer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 630px;
    margin: auto;
  }

  .mozilla-logo {
    margin-left: -7px;
  }

  .legal-links {
    flex-direction: column;
    margin: auto;
    width: 100%;
    max-width: 100%;
  }

  .legal-links > * {
    display: block;
    padding: 10px 0;
    align-self: flex-start;
  }

  .social-links {
    margin-top: 20px;
    align-self: flex-start;
  }
}

@media (max-device-width: 520px), (max-width: 520px) {
  .header {
    flex-direction: column;
    justify-content: flex-start;
  }

  .feedback {
    margin-top: 10px;
    min-width: 30px;
    max-width: 300px;
    text-indent: 2px;
    padding: 5px 5px 5px 20px;
  }

  #copy,
  .setPassword,
  #unlock {
    width: 100%;
    flex-direction: column;
    padding-left: 0;
  }

  .selectPassword {
    align-self: center;
    min-width: 95%;
  }

  #addPasswordWrapper label::before {
    margin-left: 0;
  }

  #link,
  #unlock-input {
    font-size: 22px;
    padding: 15px 10px;
    border-radius: 6px 6px 0 0;
  }

  #copy-btn,
  #unlock-btn {
    border-radius: 0 0 6px 6px;
    flex: 0 1 65px;
  }

  #copy-text {
    text-align: center;
  }

  th {
    font-size: 14px;
    padding: 0 5px;
  }

  td {
    font-size: 13px;
    padding: 17px 5px 0;
  }
}
