.footer {
  flex: none;
  margin: 24px;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.legalSection {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.legalSection__link {
  color: var(--lightTextColor);
  white-space: nowrap;
  margin-left: calc(var(--grid-basis) * 2);
}

.legalSection__link:hover {
  color: var(--textColor);
}

.socialSection__icon {
  width: 32px;
  height: 32px;
  margin: 0 0 -5px calc(var(--grid-basis) * 2);
}

.dropdown__only {
  display: none;
}

@media (max-device-width: 720px), (max-width: 720px) {
  .footer {
    justify-content: flex-start;
  }

  .footer_hiddenIcon {
    display: none;
  }

  .dropdown__only {
    display: block;
  }

  .legalSection {
    flex-direction: column;
    text-align: left;
  }

  .legalSection__link {
    flex: none;
    display: block;
    box-sizing: border-box;
    height: 24px;
    width: 176px;
    margin: 0;
    padding: 4px 20px 0 8px;
    text-shadow: none;
    font-weight: 400;
    color: var(--lightTextColor);
  }

  .legalSection__link:visited {
    color: var(--lightTextColor);
  }

  .legalSection__link:hover {
    color: var(--primaryControlFGColor);
    background-color: var(--primaryControlBGColor);
  }
}
