.uploadArea {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 2px dashed rgba(12, 12, 13, 0.2);
  margin: 0 0 10px;
  height: 400px;
  overflow: scroll;
  transition: transform 150ms;
  flex: 1;
}

.uploadArea__msg {
  font-size: 15px;
  color: var(--lightTextColor);
  margin: 12px 0 0;
  font-family: 'SF Pro Text', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.uploadArea__clickMsg {
  font-style: italic;
  font-size: 12px;
  line-height: 12px;
  color: var(--lightTextColor);
  margin: 5px;
}

.uploadArea--dragging {
  border: 1px dashed rgba(12, 12, 13, 0.4);
  transform: scale(1.04);
}

.uploadArea--faded * {
  opacity: 0.5;
}

.uploadArea--noEvents,
.uploadArea--noEvents * {
  pointer-events: none;
}

.btn--file {
  background-color: #737373;
}

.btn--file:hover {
  background-color: #636363;
}

.btn--hidden {
  display: none;
}

.inputFile {
  display: none;
}

.inputFile--focused + .btn--file {
  background-color: var(--primaryControlHoverColor);
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.uploadArea > .uploadedFiles {
  position: absolute;
  top: 0;
  left: 0;
  flex: none;
  width: 100%;
  border: none;
  z-index: 1;
}

.uploadOptions {
  text-align: left;
  font-size: 13px;
  color: var(--lightTextColor);
}

.uploadOptions--faded {
  opacity: 0.5;
  pointer-events: none;
}

.uploadCancel {
  margin: 6px 0 0;
}

.uploadCancel:hover {
  text-decoration: underline;
}
