.signupDialog {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding: 16px;
}

.signupDialog__message {
  margin: 32px 32px 0 32px;
}

.signupDialog__emailInput {
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: 16px 0;
  padding: 0 8px;
  font-size: 18px;
  color: var(--lightTextColor);
}
