.uploadedFile {
  margin: 11px;
  list-style-type: none;
  font-size: 11px;
  line-height: 18px;
  text-align: initial;
  color: var(--lightTextColor);
  background-color: var(--pageBGColor);
  border: 1px solid #cececf;
  box-sizing: border-box;
  height: 53px;
  border-radius: 4px;
  position: relative;
}

.uploadedFile__fileData {
  margin: 8px 16px 8px 44px;
}

.uploadedFile__fileName {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.uploadedFile__fileInfo {
  margin: 0;
}

.uploadedFile__cancel {
  float: right;
  margin: 6px;
  visibility: hidden;
}

.uploadedFile:hover .uploadedFile__cancel--visible {
  visibility: visible;
}

.uploadedFile__stamp {
  position: absolute;
  top: -4px;
  right: -8px;
  visibility: hidden;
  opacity: 0;
}

.uploadedFile__stamp--visible {
  visibility: visible;
  opacity: 1;
  animation: stampDown 0.2s linear;
}

@keyframes stampDown {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }

  100% {
    opacity: 1;
  }
}
