.passwordInput {
  width: 90%;
  height: 100px;
  padding: 10px 5px 5px;
}

.passwordInput--hidden {
  visibility: hidden;
}

.passwordInput__form {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 5px;
}

.passwordInput__msg {
  font-size: 15px;
  color: var(--lightTextColor);
}

.passwordInput__msg--error {
  color: var(--errorColor);
}

.inputBtn--loading {
  background-image: url('../assets/spinner.svg');
  background-position: center;
  background-size: 30px 30px;
  background-repeat: no-repeat;
}

.inputBtn--password {
  flex: 0 0 200px;
}

@media (max-device-width: 520px), (max-width: 520px) {
  .passwordInput {
    flex-direction: column;
    width: inherit;
  }
}
