.passwordInput {
  display: inline;
}

.passwordInput--hidden {
  visibility: hidden;
}

.passwordInput__fill {
  height: 24px;
  box-sizing: border-box;
  padding: 4px;
  font-size: 18px;
  border: none;
  background-color: var(--lightControlBGColor);
  outline: none;
}

.passwordInput__fill:focus {
  border: 1px solid rgba(12, 12, 13, 0.2);
  background-color: var(--pageBGColor);
}

.passwordInput__msg {
  font-size: 12px;
  color: var(--lightTextColor);
}

.passwordInput__msg--error {
  color: var(--errorColor);
}
