.passwordInput {
  align-self: left;
  display: flex;
  flex-wrap: nowrap;
  width: 80%;
  padding: 10px 5px;
}

.passwordInput--hidden {
  visibility: hidden;
}

@media (max-device-width: 520px), (max-width: 520px) {
  .passwordInput {
    flex-direction: column;
    width: inherit;
  }
}
